---
---

/*
 * This contains the bare minimum css to display the site
 */

{% include normalize.css %}
{% include colors.css %}
{% include pygments.css %}

#footer_content {
    height:40px;
    padding:10px;
}

.mobile_clear {
    display:none;
}

.post_title {
    font-size:24px;
}

