---
---

body, html {
    width:auto;
}

hr {
    margin:6px 0;
}

.mobile_clear {
    display:none;
    clear:inherit;
    margin:inherit;
    height:inherit;
    width:inherit;
    overflow:inherit;
    display:inherit;
}

#posts {
    width:500px;
    max-width:500px;
    min-width:200px;
    margin-left:85px;
}

#page_content {
    padding: 0 20px;
}


#footer_content {
    width:500px;
    height:100%;
    margin-left:85px;
    padding:0px;
}

#page_content {
    padding: 0 20px;
}

.post_date {
    position:relative;
    top:19px;
    left:-154px;
    float:right;
    clear:none;
    margin-bottom:0px;
    line-height:inherit;
    margin-left:inherit;
}

.post_content img {
    padding-left:40px;
    max-width:430px;
}

