---
---

{% include normalize.css %}
{% include colors.css %}
{% include main.css %}

#posts {
    margin:15px;
}

@media only screen and (min-device-width:320px) {
    body, html {
        width:320px;
    }
}

.post_date {
    float:none;
    clear:both;
    margin-bottom:-20px;
    line-height:30px;
    margin-left:2px;
}

