---
---

{% include normalize.css %}
{% include colors.css %}
{% include main.css %}

#posts {
    margin:15px;
}

@media only screen and (min-device-width:320px) {
    body, html {
        width:320px;
    }
}

.mobile_clear {
    clear:both;
    margin:-1px 0 0 0;
    height:1px;
    width:100%;
    overflow:hidden;
    display:block;
}

.post_date {
    float:none;
    clear:both;
    margin-bottom:-20px;
    margin-left:2px;
}

