<!DOCTYPE html>

<html>
<head>
<meta charset='utf-8'>
<script type="text/javascript">
{% include mobile_scale.js %}
</script>

<meta name="viewport" content="width=device-width; initial-scale=1;" />

<link rel="stylesheet" type="text/css" href="/default.css" media="screen, handheld, print, projection" />
<link rel="stylesheet" type="text/css" href="/mobile.css" media="screen and (min-device-width:320px)" />
<link rel="stylesheet" type="text/css" href="/desktop.css" media="screen and (min-device-width:768px) and (min-width:768px), print, projection" />
<!--[if lt IE 9]>
            <link href="desktop.css" rel="stylesheet" media="all">
        <![endif]-->

<!--[if lt IE 8]>
            <link href="ie_7.css" rel="stylesheet" media="all">
        <![endif]-->

<!--[if lt IE 7]>
            <link href="crapie.css" rel="stylesheet" media="all">
        <![endif]-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

{% if page.title %}
<title>{{ page.title }} - Jeff Martin</title>
<meta name="description" content="{{ page.title }} - Jeff Martin" />
{% else %}
<title>Jeff Martin</title>
<meta name="description" content="Jeff Martins blog" />
{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

{% if page.tags %}
<meta name="keywords" content="{% for tag in page.tags %}{{ tag }} {% endfor %}" />
{% endif %}

<script type="text/javascript">
{% include ga_track.js %}
</script>

</head>
<body>
<div id="thepage">
  <div id="page_content">

    <a id="topleft" href="/">
      <span class="black texticon" id="lessthan">&lt;</span><span class="black texticon" id="three">3</span>
    </a>
