<!DOCTYPE html>

<html>

    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="/all.css?break-cache=1" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        {% if page.title %}
        <title>{{ page.title }} - Jeff Martin</title>
        {% else %}
        <title>Jeff Martin</title>
        {% endif %}
    </head>

    <body>
        <div id="thepage">


            <div id="page_content">

                <a id="topleft" href="/">
                    <span class="black texticon" id="lessthan">&lt;</span><span class="black texticon" id="three">3</span>
                </a>
