<!DOCTYPE html>

<html>

    <head>
        <meta charset='utf-8'>

        <link rel="stylesheet" type="text/css" href="/default.css" media="screen, handheld, print, projection" />
        <link rel="stylesheet" type="text/css" href="/mobile.css" media="screen and (min-device-width:320px)" />
        <link rel="stylesheet" type="text/css" href="/desktop.css" media="screen and (min-device-width:768px) and (min-width:768px), print, projection" />
        <!--[if lt IE 9]>
            <link href="desktop.css" rel="stylesheet" media="all">
        <![endif]-->

        <!--[if lt IE 8]>
            <link href="ie_7.css" rel="stylesheet" media="all">
        <![endif]-->

        <!--[if lt IE 7]>
            <link href="crapie.css" rel="stylesheet" media="all">
        <![endif]-->

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        {% if page.title %}
        <title>{{ page.title }} - Jeff Martin</title>
        {% else %}
        <title>Jeff Martin</title>
        {% endif %}
    </head>

    <body>
        <div id="thepage">


            <div id="page_content">

                <a id="topleft" href="/">
                    <span class="black texticon" id="lessthan">&lt;</span><span class="black texticon" id="three">3</span>
                </a>
