
body, html {
    margin:0;
    padding:0;
    position:relative;
    font-family:"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:13px;
    line-height:18px;
}

a {
    text-decoration:none;
}

h1, h2, h3 {
    font-weight:400;
}

hr {
    border: solid #DDD;
    border-width:1px 0 0;
    clear:both;
    margin:26px 0 18px;
    height:0;
    width:70%;
}

blockquote {
    font-style:italic;
    font-size:14px;
}

.underline:hover {
    text-decoration:underline;
}

.clear {
    clear:both;
    margin:-1px 0 0 0;
    height:1px;
    width:100%;
    overflow:hidden;
    display:block;
}

.centered {
    float:none;
    margin:0 auto;
}

.container {
    padding-top:100px;
}

#thepage {

}

#title {
    font-family: "Consolas" "Courier New";
    font-size:18px;
}

#page_content {
    margin-bottom:100px;
    padding: 0 20px;
}

#page_footer {
    height:100px;
    margin-top:-100px;
}

.footer_separator {
}

#topleft {
    position:absolute;
    top:20px;
    left:15px;
}

#posts {
    /*width:60%;*/
    width:500px;
    max-width:500px;
    min-width:200px;
}

.post_container {
    margin:0 auto;
}

.post {

}

.post_title {
    float:left;
    text-align:center;
    font-weight:200;
    font-size:35px;
}

.post_date {
    float:left;
    margin-top:8px;
    margin-left:10px;
}

.post_content {
    font-size:16px;
    line-height:20px;
}

.post_content > p {
    font-weight:200;
}

.post_content a {
    color: rgb(15, 124, 158);
}

.post_content img {
    padding-left:40px;
    max-width:430px;
}

.post_content a:hover {
    text-decoration:underline;
}

.post_footer {
    height:20px;
}
