
body, html {
    margin:0;
    padding:0;
    position:relative;
    font-family:"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:13px;
    line-height:18px;
}

a {
    text-decoration:none;
}

h1, h2, h3 {
    font-weight:400;
    margin:0;
    padding:0;
}

hr {
    border: solid #DDD;
    border-width:1px 0 0;
    clear:both;
    margin:26px 0 18px;
    height:0;
    width:90%;
}

blockquote {
    font-style:italic;
    font-size:14px;
}

.underline:hover {
    text-decoration:underline;
}

.clear {
    clear:both;
    margin:-1px 0 0 0;
    height:1px;
    width:100%;
    overflow:hidden;
    display:block;
}

.centered {
    float:none;
    margin:0 auto;
}


/*******************************/


.container {
    padding-top:100px;
}

#thepage {

}

#lessthan {

}

#three {
    display:block;
    position:absolute;
    left:20px;
    top:1px;
}

.texticon {
    font-family: "Courier New";
    font-size:52px;
}

#page_footer {
    position:absolute;
    height:100px;
    width:100%;
    left:0;
}

.footer_separator {
}

#topleft {
    position:absolute;
    top:6px;
    left:15px;
    line-height:47px;
    width:70px;
}

#posts {
    float:none;
}

.post_container {
    margin:0 auto;
}

.post {

}

.post_date {

}

.post_preview {
    font-weight:200;
    margin-top:18px;
}

.post_preview h1, .post_preview h2, .post_preview h3 {
    font-size:16px;
    line-height:20px;
}

.post_title {
    float:left;
    font-weight:200;
    font-size:35px;
    line-height:35px;
}

.post_content {
    font-size:16px;
    line-height:20px;
}

.post_content > p {
    font-weight:200;
}

.post_content a {
    color: rgb(15, 124, 158);
}

.post_content a:hover {
    text-decoration:underline;
}

.post_footer {
    height:40px;
}

#footer_email {
    font-weight:bold;
    float:right;
    margin-top:10px;
    margin-right:20px;
}

#disqus_thread {
    margin:30px 0;
}

.post_image_preview {
    max-height:200px;
    height:200px;
    cursor:pointer;
}

.preview_wrapper {

}

