        {% for post in paginator.posts %}

        <div class="post_container">
            <div class="post">
                <a class="post_title underline blue" href="{{ post.url }}">
                    {{ post.title }}
                </a>
                <div class="mobile_clear"></div>
                <div class="post_date">
                    <em>{{ post.date | date_to_long_string }}</em>
                </div>

                {% if post.subtitle %}
                <div class="clear"></div>
                <div class="post_subtitle">
                    {{ post.subtitle }}
                </div>
                {% endif %}

                <div class="clear"></div>
                <hr class="sep">
                <div class="post_content lightblack">
                    {{ post.content | truncatewords:100 }}
                </div>
                <div class="post_footer"></div>
            </div>
        </div>

        {% endfor %}

