{% include head.html %}

<div id="posts" class="centered container">
  <div class="post_container">
    <div class="post">
      <h1 class="post_title blue">
        {{ page.title }}
      </h1>

      <div class="mobile_clear"></div>
      <div class="post_date">
        <em>{{ page.date | date_to_long_string }}</em>
      </div>

      {% if page.subtitle %}
      <div class="clear"></div>
      <h2 class="post_subtitle">
        {{ page.subtitle }}
      </h2>
      {% endif %}

      <div class="clear"></div>
      <hr class="sep">
      <div class="post_content lightblack">
        {{ content }}
      </div>

      <div id="disqus_thread"></div>

      <div class="post_footer"></div>
    </div>
  </div>
</div>

{% include footer.html %}

<script type="text/javascript">
{% include disqus_widget.js %}
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!--<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>-->

