{% include head.html %}

<div id="posts" class="centered container">
  <div class="post_container">
    <div class="post">
      <div class="post_title blue">
        {{ page.title }}
      </div>

      <div class="mobile_clear"></div>
      <div class="post_date">
        <em>{{ page.date | date_to_long_string }}</em>
      </div>

      {% if page.subtitle %}
      <div class="clear"></div>
      <div class="post_subtitle">
        {{ page.subtitle }}
      </div>
      {% endif %}

      <div class="clear"></div>
      <hr class="sep">
      <div class="post_content lightblack">
        {{ content }}
      </div>

      <div id="disqus_thread"></div>

      <div class="post_footer"></div>
    </div>
  </div>
</div>

{% include footer.html %}

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR
   WEBPAGE * * */

// required: replace example with your forum shortname
var disqus_shortname = 'jeffro';

function disqus_config() {
  this.callbacks.onReady.push(function() {
    Resize.set_doc_height();
  });
}

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!--<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>-->

